.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(15, 15, 15);
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  
}

.left-section {
  width: 170px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.menu {
  height: 20px;
  margin-left: 27px;
  margin-right: 20px;
  width: 18px;
  cursor: pointer;
}
.logo {
  height: 34px;
  margin-left: 3px;
  cursor: pointer;
}
.logo-name {
  height: 21px;
  width: 61px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.search-bar {
  flex: 1;
  width: 0;
  height: 39px;
  background-color: rgb(18, 18, 18);
  padding-left: 15px;
  font-size: 16px;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(48, 48, 48);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
 
}
.search-bar::placeholder {
  font-size: 16px;
  color: rgb(136, 136, 136);
}

button {
  background-color: rgb(39, 37, 37);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(48, 48, 48);
}
.search-icon {
  background-color: rgb(39, 37, 37);
  height: 25px;
  width: 35px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 40px;
}
.search-icon-button {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 42px;
cursor: pointer;
}
.search-icon-button,
.mike-button,
 .create-video-container,
 .notification-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon-button .tooltip,
.mike-button .tooltip,
.create-video-container .tooltip,
.notification-container .tooltip {
  color: white;
  background-color: rgb(88, 88, 88);
  padding-left: 9px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 9px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  bottom: -58px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  white-space: nowrap;
}
.search-icon-button:hover .tooltip,
.mike-button:hover .tooltip,
.create-video-container:hover .tooltip,
.notification-container:hover .tooltip {
  opacity: 0.9;
  z-index: 400;
}

.mike-button {
  margin-left: 17px;
  border-radius: 25px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;
}
.mike {
  background-color: rgb(39, 37, 37);
  height: 24px;
  width: 23px;
}
.right-section {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 15px;
}
.create-video {
  height: 24px;
  cursor: pointer;
}
.bell-icon {
  height: 24px;
  margin-top: 5px;
  cursor: pointer;
}
.notification-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: 1px;
  right: -5px;
  background-color: rgb(204, 0, 0);
  border-radius: 13px;
  font-size: 12px;
  text-align: center;
  padding-left: 5px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  cursor: pointer;
}
.user-picture {
  height: 36px;
  width: 36px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 25px;
  cursor: pointer;
}

