.thumbnail {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
 
}
.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 12px;
  cursor: pointer;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture {
  width: 40px;
  border-radius: 25px;
  cursor: pointer;
}
.video-author,
.video-stats {
  font-size: 14px;
  color: rgb(170, 170, 170);
  font-weight: 400;
  cursor: pointer;
}
.video-author {
  margin-bottom: 5px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
 margin-top: 70px;
}


@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .video-grid{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}
.video-time {
  background-color: rgb(18, 18, 18, 0.7);
  position: absolute;
  bottom: 12px;
  right: 9px;
  border-radius: 3px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 4px;
  font-weight: 500;
  font-size: 12px;
 cursor: pointer;
}
.video-title-link {
  text-decoration: none;
  color: white;
}
