.sidebar {
  position: fixed;
  top: 59px;
  bottom: 0;
  left: 0;
  background-color: rgb(15, 15, 15);
  width: 68px;
  z-index: 200;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}
.sidebar-link:hover {
  background-color: rgb(41, 41, 41);
  border-radius: 9px;
}
.sidebar-link img {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
}

.sidebar-link div {
  font-size: 10px;
  font-weight: 400px;
}
